h1{
    text-align: center;
}

/*COLORES EN CSS */
.Rojo{
    background-color: firebrick;
}

.Rosa{
    background-color: hotpink;
}
.Amarillo{
    background-color: gold;
}
.Violeta{
    background-color: blueviolet;
}

/*ESTILOS DE BORDES EN CSS */
.Punteado{
    border-style: dotted;
    border-width: 10px 5px 3px ;
}
.Discontinuo{
    border-style: dashed;
}
.Solido{
    border-style: solid;
    border-width:  10px;
    border-radius: 10px;
    color: tomato;
    

}
.Doble{
    border-style: double;
}
.Surco{
    border-style: groove;
}
.Cresta{
    border-style: ridge;
}
.Recuadro{
    border-style: inset;
}