h1{
    text-align: center;
}

.Rojo{
    background-color: firebrick;
    color:white;
}

.Rosa{
    background-color: hotpink;
}

.Rojo,  .Rosa ,  .Amarillo, .Violeta{
    color: white;
}

.Amarillo{
    background-color: gold;
}

.Violeta{
    background-color: blueviolet;
}