body{
    background-color: #606c38;
    color: #bc6c25;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

h1{
    color :#bc6c25;
    background-color:#fefae0 ;
    padding: 15px;
    border: 30px solid #283618;
    margin: 30px;
    margin-right: 201px;
    
}

h2{
     color :#bc6c25;
    background-color:#fefae0 ;
    padding: 15px;
    border: 30px solid #283618;
    margin: 10px 201px 30px 10px; 
}


