*{
    background-color: skyblue;

}


#Titulo{   /*  Declaracion de estilos usando ID */
    color:crimson;
    text-align:  center;

}

.Centrar{    /*  Declaracion de estilos para una clase  */
    text-align: center;
    color: purple;
    font-size: 30px;
    font-weight: bold;
    

}